/* Common & reset styles */
body {
    font-family: "Roboto", "Helvetica", "Arial", "Segoe UI", sans-serif;
    letter-spacing: 0.03em;
  
    color: #212121;
    background-color: #4db2dd;
  }

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  .title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    text-align: center;
  }
  
